*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#f5f5f5;
color:#222;
}

header{
background:#081b3a;
padding:15px 8%;
position:sticky;
top:0;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
}

nav h2{
font-family:'Cinzel',serif;
color:#FFD700;
font-size:28px;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav ul li a{
color:white;
text-decoration:none;
font-weight:500;
}

.hero{
background:linear-gradient(rgba(8,27,58,.8),rgba(8,27,58,.8));
color:white;
text-align:center;
padding:80px 20px;
}

.hero img{
width:180px;
margin-bottom:20px;
}

.hero h1{
font-size:48px;
color:#FFD700;
font-family:'Cinzel',serif;
}

.hero h3{
margin:15px 0;
font-size:26px;
}

.hero h2{
margin-bottom:20px;
color:#FFD700;
}

.hero p{
max-width:700px;
margin:auto;
font-size:18px;
}

.btn{
display:inline-block;
margin-top:30px;
padding:14px 35px;
background:#FFD700;
color:#081b3a;
text-decoration:none;
font-weight:bold;
border-radius:40px;
}

section{
padding:60px 10%;
text-align:center;
}

footer{
background:#081b3a;
color:white;
text-align:center;
padding:20px;
}

@media(max-width:768px){

nav{
flex-direction:column;
}

nav ul{
flex-direction:column;
margin-top:15px;
}

.hero h1{
font-size:34px;
}

.hero h3{
font-size:20px;
}

}
